name: CI

on:
  push:
    branches: [main]
  pull_request:
    branches: [main]

jobs:
  ci:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v4

      - uses: actions/setup-go@v5
        with:
          go-version: "1.25"

      - uses: golangci/golangci-lint-action@v7

      - name: Check formatting
        run: |
          golangci-lint fmt ./... --diff
          test -z "$(golangci-lint fmt ./... --diff)" || (echo "Files are not formatted"; exit 1)

      - name: Lint
        run: golangci-lint run ./...

      - name: Test
        run: go test ./...
